
# snip from $HOME/.fluxbox/keys

#used for MacBook5,1 (late 2008 aluminum Apple Macbook), possibly useful
#for other laptops

# Paths should of course be modified to suit the local environment

# assuming sudo permissions for backlight/led control scripts
None XF86MonBrightnessUp :execCommand sudo /home/jcs/bin/backlight.sh up
None XF86MonBrightnessDown :execCommand sudo /home/jcs/bin/backlight.sh down

#Detect and switch between use of external monitor or laptop LCD only
None XF86LaunchA :execCommand /home/jcs/bin/external-monitor-switch.sh

None XF86KbdBrightnessUp :execCommand sudo /home/jcs/bin/keyboard_backlight.sh up
None XF86KbdBrightnessDown :execCommand sudo /home/jcs/bin/keyboard_backlight.sh down

# control of XMMS and Amarok
None XF86AudioPrev :execCommand /home/jcs/bin/music-player.sh -r
None XF86AudioPlay :execCommand /home/jcs/bin/music-player.sh -t
None XF86AudioNext :execCommand /home/jcs/bin/music-player.sh -f

# these scripts assume the user is a member of the audio group
None XF86AudioMute :execCommand /home/jcs/bin/volume.sh mute-toggle
None XF86AudioLowerVolume :execCommand /home/jcs/bin/volume.sh down
None XF86AudioRaiseVolume :execCommand /home/jcs/bin/volume.sh up

# assumes user is a member of the optical group
None XF86Eject :execCommand eject

# Command-l to lock the screen
Mod4 l :execCommand xscreensaver-command -lock

